*{ padding:0; margin:0; position: absolute; }
html, body {
	touch-action: none;
	background-color: black;
}

#game {
	overflow: hidden;
	font-family: Lucida console;
	font-size: 40px;
	font-weight: bold;
	color: darkgrey;
}

.bar {
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	transition: width 0.5s;
	border: 5px solid #333;
	background-color: #111;
}
#healthbar{
	width:0;
	background-color: #6a6;
	border: 5px solid #393;
}
#shieldbar{
	width:0;
	position: relative;
	background-color: #66e;
	border: 5px solid #038;
	opacity: 0.75;
	height: 30px;
	top: 5px;
	left: 5px;
}

.button {
	width: 35%;
	height: 100%;
	background-color: #222;
}
#centralBtn {
	margin-left: 34%;
}
#rightBtn {
	margin-left: 65%;
}

#controls {
	height: 15.625%;
	width: 100%;
	bottom: -300px;
	transition: bottom 0.25s;
}

.uiBtn {
	cursor: pointer;
	width: 180px;
	height: 80px;
	right: 40px;
	top: 30px;
	padding: 5px;
	padding-left: 10px;
	font-size: 40px;
	border: 10px solid #555;
	background-color: black;
}
.uiBtn:hover {
	color: #ccc;
	border-color: #666;
}

#menu, #overlay {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1));
	transition: opacity 0.1s;
}
.saturate, #menu {
	filter: saturate(0.25);
	opacity: 0.75;
}
.menuship {
	left: 60%;
	bottom: 20%;
	width: 360px;
	height: 360px;
}
#central {
	margin-top: 600px;
	margin-left: 30px;
	
	width: 96%;
}
.smalltext {
	font-size: 15px;
}
.hugetext {
	width: 1000px;
	font-size: 60px;
}
.brokenimage {
	transform: scale(2);
	margin-left: 30px;
	margin-top: 30px;
	width: 60px;
	height: 60px;
}
.image {
	width: 120px;
	height: 120px;
	cursor: pointer;
}
#hard{
	width: 1010px;
	height: 45px;
	background-color: #666;
	border: 10px solid #444;
}
#titletop {
	transition: opacity 0.25s, transform 0.25s;
	filter: drop-shadow(0 20px 0 black);
}
#titlebottom {
	transition: opacity 0.25s, transform 0.25s;
	filter: drop-shadow(0 -20px 0 black);
}
.enabled {
	color: white;
}
.list {
	position: relative;
	width: 108px;
	height: 216px;
	margin-top: -158px;
	transition: opacity 0.2s, transform 0.2s;
}

#backgroundCanvas {

}

#gameCanvas {

}

.t{transform:rotate(45deg);}
.b{background-color:#306bff;border:solid 9px;border-color:#98e #34A #236 #aaf;}
.r{background-color:#ff306b;border:solid 9px;border-color:#f6a #840 #630 #f9e;}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

/*#controls{
	width:100%
	padding:5px;
	position:absolute;
	color:white;
	font-family:Arial;
	line-height: 20px;
}*/

.unselectable {
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color:transparent;
	user-select:none;
}